<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div id="information">
      <p id ="gameOver">Waiting for a second player to connect</p>
      <p id="playerNumber">You are Player</p>
      <p id="missed"></p>
    </div>
    <!-- <h4 id="theta">Shouldn't see me bro.</h4> -->
    <button id="reset">Reset</button>
    <button id="michaelBay">Michael Bay Mode</button>
    <input id="userName" size="10">
    <button id="saveName">Enter your username</button>
    <canvas id="c" width="900" class="absolute" height="500"></canvas>
    <%- include viewer.ejs %>
    <script src="javascripts/jquery-1.11.3.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/simulator.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src ="/javascripts/viewer.js"></script>
  </body>
</html>
