<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p id ="gameOver">Play some ping pong</p>
    <p id="playerNumber">You are Player</p>
    <button id="reset">Reset</button>
    <canvas id="c" width="700" height="300"></canvas>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/simulator.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
