<h1 id="welcome">Welcome to the lobby </h1>
<span id="container1" class="container">
  <button id="table1" class="table" data-number="0">Join table one</button>
  <span id="list1" class="list"></span>
</span>
<span id="container2" class="container">
  <button id="table2" class="table" data-number="1">Join table two</button>
  <span id="list2" class="list"></span>
</span>

<input id ="name"type="text">
<button id="submitName">Enter name</button>
<br>
<script src="javascripts/jquery-1.11.3.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/lobby.js"></script>
