  <div id="container" class="absolute">
    <div><button id="zoomIn">Zoom In</button></div>
    <div><button id="moveUp">Move screen up</button></div>
    <div>
      <button id="rotateLeft" class="absolute rotate">Rotate Left</button>
      <button id="moveLeft">Move screen left</button>
      <button id="moveRight">Move screen right</button>
      <button id="rotateRight" class="absolute rotate">Rotate right</button>
    </div>
    <div><button id="moveDown">Move screen down</button></div>
    <div><button id="zoomOut">Zoom Out</button></div>
    <button id="saveSettings">Save settings</button>
  </div>
