canvas{
    background-color: gray;
    left: 0px;
    z-index: -1;
    cursor: url(http://media.baselineresearch.com/images/77934/77934_small.jpg);
}
#container{
  text-align: center;
}
button {
  border: 0px;
}
#moveDown{
  cursor:s-resize;
}
#moveUp{
  cursor:n-resize;
}
#moveLeft{
  cursor:w-resize;
}
#moveRight{
  cursor:e-resize;
}
#zoomIn{
  cursor: zoom-in
}
#zoomOut{
  cursor: zoom-out
}
.absolute{
  position: absolute;
}
