canvas{
    background-color: gray;
    left: 0px;
    z-index: -1;
    /*cursor: url(http://media.baselineresearch.com/images/77934/77934_small.jpg);*/
    width:100%;
}
#container{
  width:100%;
  text-align: center;
  position: absolute;
  top: 600px;
}
#information{
  text-align: center;
}
#rotateRight{
  left: 66%;
}
#rotateLeft{
  left: 28%;
}
button {
  border: 0px;
}
#moveDown{
  cursor:s-resize;
}
#moveUp{
  cursor:n-resize;
}
#moveLeft{
  cursor:w-resize;
}
#moveRight{
  cursor:e-resize;
}
#zoomIn{
  cursor: zoom-in;
}
#zoomOut{
  cursor: zoom-out;
  margin-bottom: 45px;
}
#saveSettings{
  background-color: red;
}
.absolute{
  position: absolute;
}
